.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #706d6d;
  background: #f8fafc;
}

.nav-bar-large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin-top: 0px;
  margin-left: 0px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.website-logo {
  width: 43px;
  height: 33px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 53px;
    height: 43px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
  .nav-menu-item {
    display: none;
  }
}

.nav-menu-item {
  font-family: 'Roboto';
  text-decoration: none;
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
}

.nav-link {
  text-decoration: none;
}

.icon-heading {
  font-family: DM Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #f7931e;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .icon-heading {
    font-size: 20px;
  }
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #f7931e;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  margin-top: 0px;
  /* margin-left: 0px; */
  outline: none;
}

.nav-mobile-btn-container {
  display: flex;
  justify-content: center;
  width: 25%;
}

.nav-mobile-btn {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .nav-mobile-btn {
    display: none;
  }
}

.cart-count-badge {
  background-color: #bfdbfe;
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .cart-count-badge {
    background-color: #e6f6ff;
  }
}

.hamburger-icon-button {
  background-color: transparent;
  width: 42px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .popup-content {
    display: none;
    margin-right: 0%;
  }
  .hamburger-icon-button {
    display: none;
  }
}

.modal-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 458px;
}

.close-button {
  align-self: flex-end;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  margin-top: 32px;
  outline: none;
  cursor: pointer;
}

.nav-links-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.nav-link-item {
  list-style-type: none;
  margin-bottom: 32px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e293b;
  text-decoration: none;
}

.nav-link-content {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  margin: 0px;
  margin-left: 8px;
}
